*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* border is used inside 
    the div area only, and not on outside of the 
    div area(so content area will become small)*/
}

.navbar{
    height: 60px;
    background-color: #131921;
    /* padding-top: 6px; */
    display: flex;
    align-items: center;
    color:white;
    justify-content: space-evenly;
}

.sub
.first-box{
    height: 42px;
    width: 125px;
    /* padding: 2px;  */
    margin-left: 10px;
    /* background-color: pink; */
    /* border: 4px blue solid; */
    text-align: center;
}

.logo-image{
    /* border: 3px red solid; */
    height: 30px;
    padding-top: 6px;
}

.border{
    border: 2px solid transparent;
    display: grid;
}

.border:hover{
    border: 2px solid white;
}nav

.second-box{
    
    align-items: center; /* y-axis center */
    justify-content: center;
    padding: 8px 4px 0px 4px;
    margin-left:5px;
    margin-right: 5px;
}

.loc-upd{
    display: flex;
}

.delivering{
    font-size: .7em;
    justify-items: center;
    margin-left: 17px;
}

.Update{
    font-size: .8em;
    margin-left: 4px;
    font-weight: bold ;
}

.fa-solid{
    margin-bottom:10px;
    font-size:.9em;
}


.third-box{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 1.8em;
    width: 44em;
    /* background-color: purple; */
}

.all{
    height: 2.9em;
    background-color: #E6E6E6;
    border-radius: 5px 0px 0px 5px;
}

.search-input{
    height: 2.5em;
    width: 40rem;
}

.search-button{
    height: 2.38em;
    width: 2em;
    background-color: #FEBD69;
    text-align: center;
    /* padding-top: 5px;  */
    display: flex;
    border-radius: 0px 5px 5px 0px;

}

.button-icon{
    /* text-align: center; */
    height: 3em;
    width: 2em;
    /* padding-top: 5px; */
}

.fa-sharp.fa-solid.fa-magnifying-glass{
    position: relative;
    top: 20%;
    /* height: px; */
}

.forth-box{
    display: flex;
    height: 50px;
    width: 73px;
    margin-left: 10px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.flag-icon{
    height: 20px;
    width: 21px;
}

.flag-image{
    height: 20px;
    width: 21px;
}

.EN-lang{
    display: flex;
    margin-left: 3px;
}

.fa-solid.fa-sort-down{
    margin-left: .6px;
    height: 2px;
    width: 2px;
}

.fifth-box{
    height: 50px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-items: center;
}

.fifth-elements{
    position: relative;
    /* top:.8em; */
    left: .5em;
    justify-content: center;
    align-items: center;
}

.hello{
    justify-content: center;
    /* align-items: center; */
}

.hello-sign{
    font-size: .7em;
}

.accounts{
    display: flex;
    font-size: .8em;
    justify-items: center;
    font-weight: bold;
    width: 120px;
}


.sixth-box{
    height: 50px;
    width: 4.5em; 
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-items: center;
}

.seventh-box{
    height: 50px;
    width: 4.5em; 
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-items: center;
}


.accounts.cart{
    font-size: 1em;
    position: relative;
    top:.34em;

}

.fa-solid.fa-cart-shopping{
    font-size: 1.5em;
    position: relative;
    top:.3em;
}

.sub-nav{
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content:space-evenly;
    /* text-align: center; */
    align-items: center;
}

.sub-menu{
    display: flex;
    align-items: center;
    
}

.fa-solid.fa-bars{
    height: 1em;;
    position: relative;
    top: .30em;
    margin-right: .2em;
}


/* main slide */

.m-slide{
    background-image:url("images/main-slide.jpg");
    height: 18em;
    background-size: cover;
}

/* Main body */

.main-body{
    background-color: #d5dbdb;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    padding-bottom: 1em;
}

.f-stack{
    /* height: 24em; */
    width: 100%;
    /* background-color: #bbbfbf;*/
    display: flex;
    justify-content: space-evenly;
    
} 

.box{
    background-color: #ffff;
    width: 19.2%;
    height: 22em;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}


.fs1-grid{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 15%;
}

.item-img-grid{
    height: 6em;
    width: 9em;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: ; */
}

.box.fs1{
    padding: 2%;
}

.heading{
    font-weight: bolder;
    font-size: 1.3em;
}

.fs1-heading{
    padding-bottom: 6%;
    /* font-size: 1.3em; */
}

.see-more{
    
    color: #007185;
}

.fs-see-more{
    padding-top: 20%;
}

.item-desc{
    font-size: 70%;
}


/* second stack */
.s-stack{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-stack{
    height: 285px;
    width: 90.4em;
    /* border: 5px red solid; */
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 2em;
    /* padding-right: 2em; */

}

.top-part-h{
    display: flex;
}

.images-cont{
    display: flex;
    justify-content: space-evenly;
}

.s2-box{
    background-size: contain;
    background-repeat: no-repeat;
    height: 10em;
    width: 10em;
}

.sec-stack-heading{
    margin-right: 1em;
    font-size: 1.3em;
    margin-bottom: .5em;

}

.sec-stack-see-all{
    margin-top: .4em;
    font-size: .9em;
}

.s4-box{
    background-size: cover;
    background-repeat: no-repeat;
    height: 11em;
    width: 11em;
}

.row-stack-4{
    margin-right: 2em;
}


/* one-img-stack3 */

/* box1 */
.one-img-stack3{
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    width: 19em;
}

.thirdstack-see-more{
    margin-top: 1.7em;
}

.ts-2-heading{
    margin-bottom: 1.8em;
}

.s3-box3-heading{
    margin-bottom: 4em;
}

.s3-box3-item{
    height: 6.5em;
    width: 5em;
    background-repeat: no-repeat;
    background-size: cover;
}


/* footer */
.footer{
    /* height: 760px; */
}


/* footer 1 */

.footer1{
    width: 100%;
    height: 3em;
    background-color: #37475A;
    display:flex;
    align-items: center;
    justify-content: center;
}


.footer-list{
    color: white;
}

.back-to-top{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.footer2{
    height: 19em;
    width: 100%;
    background-color:#232F3E;
    display: flex;
    /* align-items: center; */
    justify-content:space-evenly;
    padding-top: 3em;
}

.footer-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.f-links{
    font-size: 14px;
    color: #DDDDDD;
    margin: .6em 0 0 0 ;
}

/* footer-3 */
.footer-3{
    background-color: #131A22;
    width: 100%;
    height: 96px;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f3-div{
    /* height: 100%;*/
    width: 60%; 
    /* border-width: 5px;
    border-color: red;
    border-style: solid; */
    color: #999999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2em;
}

.f3-title{
    font-size: 12px;
    color: #d8d1d1;
}

.f3-links{
    font-size: 12px;
    width: 80%;
}

.footer-4{
    background-color: #131A22;
    /* height: 76px; */
    width: 100%;
    padding: 10px 0 30px 0;
    /* border: 5px red solid; */
    color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.footer4-upper{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: .5em;
    margin-left: 1.0em;
    font-size: 12px;
}

.footer4-lower{
    font-size: 12px;
}